#about {
  background: #AAAAAA url('../images/RoboticPrinterv1.jpg') center top no-repeat fixed;
  background-size: cover;
}
#about .two-column p {
  font-size: 1.4rem;
  line-height: 1.625;
  margin-bottom: 1.4rem;
  padding: 0;
  /*max-width: 480px;*/
}
#about .two-column ul li {
  margin: 0 0 0 16px;;
  padding: 0;
}
#about .two-column h4 {
  min-height: 6rem;
}
/*#about .container {
  height: auto;
  overflow: hidden;
}*/
#about .caption {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 20px;
  margin: 0;
  float: right;
}
.background-diagonal-tile {
  background: transparent url('../images/tile.gif') repeat;
}
.background-light-blue a {
  color: #046B99;   /* primary-alt-darkest */
}
.background-primary-alt-light a {
  color: #205493    /* primary-darker */
}
.background-light-blue a:hover,
.background-primary-alt-light a:hover {
  border-bottom-style: solid;
}
.background-primary-alt-light p.medium {
  /*font-weight: 600;*/
  /*line-height: 1.75;*/
}
p.medium {
  max-width: 66%;
}
p.sidebar {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
.lede {
  margin-bottom: 300px;
}
.lede section ul {
}
.lede section ul li, .lede section:last-of-type p {
  font-size: 1.2rem;
  line-height: 1.5;
}
.container-half {
  max-width: 480px;
  padding: 0;
  overflow: hidden;
  display: block;
}
@media (min-width: 481) {
  .lede section ul {
    list-style: none;
    display: flex;
  }
  .lede section ul li {
    flex-direction: column;
    width: calc(50% - 20px;);
    padding-right: 20px;
    word-wrap: break-word;
  }
  .lede section ul li, .lede section:last-of-type p {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) {

}
@media (min-width: 960px) {
  .lede section ul {
    list-style: none;
    display: flex;
  }
  .lede section ul li {
    flex-direction: column;
    width: calc(25% - 20px;);
    padding-right: 20px;*/
    /*word-wrap: break-word;
  }

}
