

section.four-column {
  display: block;
  height: auto;
  overflow: hidden;
}
section.four-column .col {
  display: block;
  height: auto;
  width: 100%;
  min-width: 200px;
  overflow: hidden;
}
section.four-column .col a {
  border-bottom: none;
  border-top: 1px dotted #112E51;   /* primary darkest */
  color: #112E51;   /* primary darkest */
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  height: 4rem;
  padding-top: 5px;
  overflow: hidden;
  width: calc(100% - 10px);
}
.col-three-fourths ul:not(.subtopics) {
  display: block;
  overflow: hidden;
  height: auto;
}
.col-three-fourths ul.subtopics {
  display: inline;
}
.subtopic-subhead {
  font-size: 1.1rem;
  font-weight: 600;
  display: inline;
  line-height: 2rem;
}
.col-three-fourths .subtopic-subhead:after {
  content: ":";
  padding-right: 5px;
}
.col-three-fourths ul:not(.subtopics) li a {
  border-bottom: none;
  border-top: 1px dotted #112E51;  /* primary darkest */
  color: #112E51;   /* primary darkest */
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  height: 4rem;
  padding-top: 5px;
  overflow: hidden;
  width: calc(100% - 10px);
}
.col-three-fourths ul.subtopics li {
  color: #323A45;   /* gray dark */
  display: inline;
  font-size: 1.1rem;
  line-height: 2rem;
}
.col-three-fourths ul.subtopics li:not(:last-child)::after {
  content: "";
  background-color: #AEB0B5;    /* gray light */
  display:inline-block;
  width:20px;
  height:1px;
  margin-bottom:4px;
}
.col-three-fourths ul.subtopics li:last-child::after {
  content: ".";
  margin-left: -2px;
}
section.four-column .col a:hover,
.col-three-fourths li a:hover {
  border-top: 1px solid #112E51;    /* base */
}
section.two-column {
  display: block;
}
section.two-column p {
  width: 100%;
}
section.two-column nav.col {
  width: 100%;
  display: block;
  padding: 0;
}
section.two-column nav.col:first-child {
  padding: 0;
}
nav.col p {
  margin-bottom: 5px;
}
nav.col p a {
  border-bottom: 1px dotted transparent;
  font-size: 1.3rem;
  display: block;
  padding-bottom: 5px;
  color: #112E51;   /* primary darkest */
  width: calc(100% - 10px);
}
nav.col p a::after {
  content: "\2193";
  padding-left: 10px;
  width: 10px;
  display: inline-block;
  white-space: nowrap;
  color: #02BFE7;
}
nav.col p a:hover {
  border-bottom: 1px dotted #112E51;    /* primary darkest */
}
.pgm-director ul li {
  list-style-type: none;
  display: block;
  padding-left: 24px;
  padding-right: 15px;
}
.pgm-director ul li a {
  display: inline-block;
}
.pgm-director ul li:before {
  content: "\2192";
  margin: 0 0 0 -24px;
  padding: 0;
  width: 20px;
  display: inline-block;
}

/***********************************/
/* media queries *******************/
/***********************************/

/*
$small-screen:  481px !default;
$medium-screen: 600px !default;
$large-screen:  1201px !default;
*/

@media (min-width: 481px) {
  section.four-column .col {
    float: left;
    display: inline-block;
    width: 50%;
  }
}
@media (min-width: 600px) {
  section.four-column .col {
    float: left;
    display: inline-block;
    width: 33%;
  }
  section.two-column {
    display: flex;
  }
  section.two-column nav.col {
    width: 50%;
    flex-flow: column;
    flex-wrap: wrap;
  }
  section.two-column nav.col p {
    padding: 0;
  }
  .col-three-fourths ul:not(.subtopics) li {
    float: left;
    display: inline-block;
    width: 50%;
  }
}
@media (min-width: 960px) {
  section.four-column .col,
  .col-one-fourth {
    float: left;
    display: inline-block;
    width: 25%;
  }
  .col-three-fourths {
    display: block;
    overflow: hidden;
    height: auto;
  }
  .col-three-fourths ul:not(.subtopics) li {
    float: left;
    display: inline-block;
    width: 33%;
  }
  .col-three-fourths li a {

  }
}
