/*$small-screen:  481px !default;
$medium-screen: 600px !default;
$large-screen:  1201px !default;*/

.four-column {
  /*display: flex;
  flex-wrap: wrap;*/
  display: block;
}
.four-column .col {
  /*flex-direction: row;*/
  display: block;
  width: 100%;
  min-width: 200px;
}
@media (min-width: 481px) {
  .four-column .col {
    float: left;
    display: inline-block;
    width: 50%;
  }
  .four-column .col:first-child {
    /*flex-direction: column;*/
    float: none;
    clear: left;
    display: block;
    border: 1px solid #f00;
  }
}
@media (min-width: 600px) {
  .four-column .col {
    float: left;
    display: inline-block;
    width: 33%;
  }
}
@media (min-width: 960px) {
  .four-column .col {
    float: left;
    display: inline-block;
    width: 25%;
  }
}
