a[href^="mailto"]:not(.button) {
  padding-right: 20px;
  background: url(../images/email.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href *='.doc']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-word.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href $='.pdf']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-acrobat.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href $='.ppt']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-powerpoint.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href *='.xls']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-excel.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href^="http://"],[href^="https://"]:not(.button) {
  padding-right: 18px;
  background: url(../images/external-link.svg) right center no-repeat;
  background-size: 16px auto;
}
/* such hacks, much PITA */
/* may want to handle exceptions in Sass */
a[href*="https://www.nsf.gov"]:not(.button) {
  padding-right: 0;
  background: none !important;
}
a[href^="https://twitter.com"]:not(.button) {
  padding-right: 0;
  background: none !important;
}
a[href*="youtube.com"]:not(.button) {
  padding-right: 0;
  background: none !important;
}
a[href*="angel.co"]:not(.button) {
  padding-right: 0;
  background: none !important;
}
a[href*="medium.com"]:not(.button) {
  padding-right: 0;
  background: none !important;
}
a[href*="linkedin.com"]:not(.button) {
  padding-right: 0;
  background: none !important;
}
