a[href^="mailto"]:not(.button) {
  padding-right: 20px;
  background: url(../images/email.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href *='.doc']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-word.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href $='.pdf']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-acrobat.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href $='.ppt']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-powerpoint.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href *='.xls']:not(.button) {
  padding-right: 20px;
  background: url(../images/file-excel.svg) right center no-repeat;
  background-size: 16px auto;
}
a[href^="http://"],[href^="https://"]:not(.button) {
  padding-right: 18px;
  background: url(../images/website.svg) right center no-repeat;
  background-size: 12px auto;
}
/* may want to handle exception in Sass */
a[href*="nsf.gov"],[href*="twitter.com"],[href*="linkedin.com"],[href*="angel.co"],[href*="medium.com"],[href*="crunchbase.com"],[href*="youtube.com"] {
  padding-right: 0 !important;
  background: none !important;
}
