body {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body#home {
  background: #AAAAAA url('../images/miromatrix.png') center top no-repeat fixed;
}
#home h1 {
  color: #FFF;
  font-size: 70px;
  font-weight: 800;
  line-height: .8625;
  text-transform: uppercase;
  letter-spacing: -.025em;
  width: 75%;
  margin: 0;
}
#home h1 .highlight {
  /*background-color: rgba(2,191,231,.7);*/
  background-color: rgba(255,255,255,.7);
}
#home h1.big {
  font-size: 90px;
  font-weight: 700;
  line-height: 74px;
  text-transform: uppercase;
  letter-spacing: -4px;
  width: 380px;
  margin: 0;
  padding: 0;
}
#home h1 em {
  display: block;
  color: #000000;
  /*color: #046B99;*/
  font-style: normal;
}
h2 {
  font-weight: 700;
  font-size: 36px;
}
p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.three-column .col h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.325;
  height: 50px;
  letter-spacing: -.02em;
}
.three-column .col p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625;
  padding-right: 20px;
}
.two-column .col h2 {
  margin: 0 0 40px 0;
}
.two-column p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  padding-right: 50px;
}
#home header .logo {
  height: 40px;
  padding: 30px 0 100px;
}
#home .hero .button {
  padding: 10px 25px 10px 20px;
  font: 600 1.5em/1.2 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff039;
  display: inline-block;
  text-align: center;
  margin: 20px 0;
}
#home .hero .button .subtext {
  display: block;
  font: 400 14px/1.5 'Overpass Mono', monospace;
}
.col .button {
  border: 1px solid #02bfe7;
  color: #000000;
  display: inline-block;
  font: 400 12px/20px 'Overpass Mono', monospace;
  margin: 30px 0;
  min-width: 120px;
  padding: 10px 20px 10px 10px;
  text-align: center;
  text-decoration: none;
}
.col .button::before {
  content: "\2192";
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  width: 25px;
  display: inline-block;
}
.col .button:hover {
  background-color: #FFFFFF;
}
.program-info p {
  margin: 0 auto;
  max-width: 620px;
}
.program-info p.large {
  font: 700 28px/50px 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: -.005em;
  /*margin-top: 30px;*/
  margin-bottom: 30px;
  /*padding-bottom: 30px;*/
}
.program-info p.small {
  font: 400 20px/40px 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 30px;
}
.program-info p a {
  color: #0000E0;
  text-decoration: none;
  border-bottom: 1px solid #fbb;
}
.program-info p a.button {
  background-color: #FFF039;
  border: none;
  color: #000;
  display: inline-block;
  font: 14px/1.2 'Overpass Mono', monospace;
  margin: 20px 0;
  padding: 20px 30px;
}
.program-info p a.button:hover {
  background-color: #FFFAC3;
}
.program-info p a.button::before {
  content: "\2192";
  display: inline-block;
  width: 25px;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}
address {
  font-size: 16px;
  line-height: 30px;
  font-style: normal;
  /*color: #fff;*/
}
address h3 {
  font-size: 16px;
  color: #2C3E50;
}
.de-emphasize {
  font-weight: 300;
  color: #fff;
}

/* Structure */
.container-fluid {
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.hero {
  background: transparent url(../images/tile.gif) repeat;
}
.program-info {
  /*background-color: #02bfe7;*/
  padding: 60px 0 90px 0;
  /*color: #00202A;*/
  /*color: #34415E;*/
  color: #2C3E50;
}
#home header {
  height: 570px;
  width: 960px;
  margin: 0 auto;
}
section {
  max-width: 960px;
  margin: 0 auto;
}
section.three-column {
  display: flex;
  padding: 50px 0;
  overflow: hidden;
  height: auto;
}
section.three-column .col {
  min-width: 300px;
  padding-right: 20px;
  padding-bottom: 60px;
  flex-flow: column;
}
section.two-column {
  display: flex;
}
section.two-column .col {
  width: calc(50% - 20px);
  min-width: 300px;
  padding-right: 20px;
  flex-flow: column;
}
.short-divider {
  width: 60px;
  border-top: 1px solid #fff;
  margin: 90px 0 90px 170px;
}
/* colors */
.background-light-neutral {
  background-color: #F5FBFC;
}
.background-primary {
  background-color: #9bdaf1;
}
.background-light-blue {
  background-color: #E0F3F8;
  padding: 60px 0 120px 0;
  /*color: #dce4ef;*/
}
