html {
  font-size: 62.5%;
}
body {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
  color: #212121;
}
h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  /*text-transform: uppercase;*/
  letter-spacing: -.015em;
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 3.6rem;
}
h3 {
  font-size: 2rem;
}
h3.large {
  font-size: 2.8rem;
  font-weight: 400;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.6rem;
}
h2.bar, h3.bar, h4.bar, h5.bar {
  position: relative;
}
h2.bar:before, h3.bar:before, h4.bar:before, h5.bar:before {
  content: "";
  background-color: #000;
  position: absolute;
  top: -15px;
  left: 0;
  height: 2px;
  width: 60px;
}
p, ul li {
  /*font-size: 1.4rem;
  line-height: 1.7;*/
  font-size: 1.4rem;
  line-height: 1.625;
  margin-bottom: .7rem;
  max-width: 500px;
}
p.large, ul.large li {
  font-size: 2.4rem;
  line-height: 1.625;
  width: 66%;
  max-width: 620px;
  margin-bottom: 1.5rem;
}
p.medium, ul.medium li {
  font-size: 1.8rem;
  line-height: 1.625;
  margin-bottom: 1.5rem;
  width: 66%;
}
.subhead {
  font-family: 'Overpass Mono', monospace;
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: .03em;
}
a {
  color: #0071bc;
  text-decoration: none;
  border-bottom: 1px solid #0071bc;
}
address {
  font-size: 1.6rem;
  line-height: 3rem;
  font-style: normal;
  /*color: #fff;*/
}
address h3 {
  font-size: 1.6rem;
  color: #2C3E50;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px 0;
}
nav .logo {
  /*float: left;*/
  flex-direction: row;
}
nav ul {
  flex-direction: row;
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-family: 'Overpass Mono';
  display: inline-block;
}
nav ul li:not(:last-child) {
  padding-right: 25px;
}
nav ul li a {
  color: #112e51;
  text-decoration: none;
  height: auto;
  padding-bottom: 20px;
  display: block;
}
nav a {
  border: none;
}
.logo {
  height: 3rem;
}
.three-column .col h2 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.325;
  height: 60px;
  letter-spacing: -.02em;
}
.three-column .col p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.625;
  padding-right: 20px;
}
.two-column .col h3 {
  margin: 0 0 20px 0;
}
.two-column p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 20px;
  padding-right: 50px;
}
.col .button {
  border: 1px solid #02BFE7;
  color: #000000;
  display: inline-block;
  font: 400 1.2rem/1.5 'Overpass Mono', monospace;
  margin: 30px 0;
  min-width: 120px;
  padding: 10px 20px 10px 10px;
  text-align: center;
  text-decoration: none;
}
.col .button::before {
  content: "\2192";
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, sans-serif;
  width: 25px;
  display: inline-block;
}
.col .button:hover {
  background-color: #FFFFFF;
}
.program-info p {
  margin: 0 auto;
  max-width: 620px;
}
.program-info p.large {
  font: 700 2.8rem/1.625 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: -.005em;
  margin-bottom: 30px;
}
.program-info p.small {
  font: 400 2rem/2 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 30px;
}
.program-info p a {
  color: #0000E0;
  text-decoration: none;
  border-bottom: 1px solid #fbb;
}
.program-info p a.button {
  background-color: #FFF039; /* same as background-yellow */
  border: none;
  color: #000;
  display: inline-block;
  font: 1.4rem/1.2 'Overpass Mono', monospace;
  margin: 20px 0;
  padding: 20px 30px;
}
.program-info p a.button:hover {
  background-color: #FFFAC3;
}
.program-info p a.button::before {
  content: "\2192";
  display: inline-block;
  width: 25px;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
}
.de-emphasize {
  font-weight: 300;
  color: #fff;
}

/* Structure */
.container,
header,
section {
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container,
section {
  padding-left: 20px;
  padding-right: 20px;
}
.container-fluid {
  width: 100%;
  height: auto;
  overflow: hidden;
  clear: both;
}
.program-info {
  color: #2C3E50;
}
section.three-column {
  display: flex;
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
  overflow: hidden;
  height: auto;
}
section.three-column .col {
  width: 300px;
  flex-direction: column;
}
section.three-column .col:not(:last-child) {
  padding-right: 10px;
}
section.two-column {
  display: flex;
}
section.two-column .col {
  width: calc(50%);
  /*min-width: 300px;*/
  flex-flow: column;
}
section.two-column .col:not(:last-child) {
  padding-right: 20px;
}
.short-divider {
  width: 60px;
  border-top: 1px solid #fff;
  margin: 60px 0 60px 150px;
}

/*********************/
/* spacer units ******/
.pad-vtop-20 {
  padding-top: 20px;
}
.pad-vtop-30 {
  padding-top: 30px;
}
.pad-vtop-40 {
  padding-top: 40px;
}
.pad-vtop-50 {
  padding-top: 50px;
}
.pad-vtop-60 {
  padding-top: 60px;
}
.pad-vbottom-20 {
  padding-bottom: 20px;
}
.pad-vbottom-40 {
  padding-bottom: 40px;
}
.pad-vbottom-50 {
  padding-bottom: 50px;
}
.pad-vbottom-60 {
  padding-bottom: 60px;
}
.pad-vbottom-80 {
  padding-bottom: 80px;
}
.pad-vbottom-100 {
  padding-bottom: 100px;
}
.pad-vbottom-120 {
  padding-bottom: 120px;
}
/*********************/
/* Home page *********/
#home {
  background: #AAAAAA url('../images/miromatrix.png') center top no-repeat fixed;
}
#home h1 {
  color: #FFF;
  font-size: 7rem;
  font-weight: 800;
  line-height: .8625;
  text-transform: uppercase;
  letter-spacing: -.025em;
  width: 70%;
  margin: 0;
}
/*#home h1 .highlight {
  background-color: rgba(255,255,255,.7);
}*/
/*#home h1.big {
  font-size: 90px;
  font-weight: 700;
  line-height: 74px;
  text-transform: uppercase;
  letter-spacing: -4px;
  width: 380px;
  margin: 0;
  padding: 0;
}*/
#home h1 em {
  display: block;
  color: #000000;
  /*color: #046B99;*/
  font-style: normal;
}
#home header {
  height: 570px;
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
#home header .logo {
  height: 40px;
  /*padding-top: 50px;*/
  /*padding: 30px 0 100px;*/
}
#home nav {
  display: flex;
  padding: 40px 0 100px 0;
}
#home nav .logo {

}
#home nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,.8);
}
#home nav ul li a {
  padding: 6px 20px;
  color: #000;
}
#home nav ul li a:hover {
  background-color: #FFF039; /* same as background-yellow */
}
#home .hero .button {
  padding: 10px 25px 10px 20px;
  font: 600 2rem/1.2 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff039; /* same as background-yellow */
  display: inline-block;
  text-align: center;
  margin: 20px 0;
}
#home .hero .button .subtext {
  display: block;
  font: 400 1.2rem/1.5 'Overpass Mono', monospace;
}

#home .hero {
  background: transparent url(../images/tile.gif) repeat;
}
