/* Colors *******************/
/****************************/

/* Primary ******************/
.background-primary {
  background-color: #0071BC;
}
.background-primary-darker {
  background-color: #205493;
}
.background-primary-darkest {
  background-color: #112E51;
}
.background-base {
  background-color: #212121;
}
.background-gray-dark {
  background-color: #323a45;
}
.background-gray-light {
  background-color: #AEB0B5;
}
.background-white {
  background-color: #FFFFFF;
}
/* Secondary ****************/
.background-primary-alt {
  background-color: #02BFE7;
}
.background-primary-alt-darkest {
  background-color: #046b99;
}
.background-primary-alt-dark {
  background-color: #00a6d2;
}
.background-primary-alt-light {
  background-color: #9bdaf1;
}
.background-primary-alt-lightest {
  background-color: #e1f3f8;
}
.background-yellow {
  background-color: #FFF039;
}
.background-yellow-light {
  background-color: #FFF79C;
}
.background-yellow-lightest {
  background-color: #FFFAC3;
}

/* Background colors */
.background-light-neutral {
  background-color: #F5FBFC;
}
.background-light-blue {
  background-color: #E0F3F8;
}
.background-gray-warm-light {
  background-color: #E4E2E0;
}
/* Tertiary **********/
.background-tertiary {
  background-color: #e31c3d;
}
.background-tertiary-darkest {
  background-color: #981b1e;
}
.background-tertiary-dark {
  background-color: #cd2026;
}
.background-tertiary-light {
  background-color: #e59393;
}
.background-tertiary-lightest {
  background-color: #f9dede;
}


/* Structure ****************/
/* for spec display only ****/
/* Not needed for site ******/
.palette {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

}
.palette .block {
  width: 184px;
  height: 50px;
  display: block;
  margin-bottom: 5px;
}
.palette li {
  flex-direction: row;
  padding-bottom: 15px;
}
.palette p {
  font: 11px/1.5 'Overpass Mono', monospace;
  margin: 0;
}
