ul#program-directors {
  list-style-type: none;
  padding: 0 0 120px 0;
  margin: 0 auto;
  max-width: 960px;
  height: auto;
  overflow: hidden;
  /*border: 1px solid #f00;*/
  /*display: flex;*/
}
ul#program-directors li {
  background-color: #fff;
  border: 1px solid #fff;
  float: left;
  height: 500px;
  margin: 0 18px 20px 0;
  width: 285px;
  overflow: hidden;
  /*width: calc(33% - 20px);*/
  /*flex-direction: row;
  flex-wrap: wrap;*/
}
ul#program-directors li img {
  height: 250px;
  width: 285px;
}
ul#program-directors li h3 {
  height: 40px;
  padding: 30px 40px 0 40px;
}
ul#program-directors li p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 40px 8px 24px;
  padding: 0 0 0 16px;
}
ul#program-directors li p a {
  color: #205493;
  text-decoration: none;
  border-bottom: none;
}
ul#program-directors li p a::before {
  content: "\2192  ";
  display: inline-block;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  margin-left: -20px;
  width: 20px;
  color: #02bfe7;
}
