/*#showcase {
  background-image: url(../images/biomason-bw.png);
  background-attachment: fixed;
  background-size: cover;
}*/
#showcase .lede {
  /*margin-bottom: 10rem;*/
}
#showcase .lede h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
h1.inverse {
  color: #FFFFFF;
}
h2.inverse, p.inverse {
  color: #9BDAF1;
}
#showcase .lede h2.larger {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -.015em;
  margin: 0;
}

h2 {
  line-height: 1.1;
  max-width: 55rem;
}

a.button[href^="https://medium.com/"] {
  padding: 10px 20px 10px 40px;
  margin: 20px 0;
  border: 1px solid #323a45;
  display: inline-block;
  background: #FFFFFF url(../images/icons/medium.svg) 15px center no-repeat;
  background-size: 20px;
}


#showcase .two-column {
  padding: 0;
  display: block;
}
#showcase .two-column .one-half {
  width: 100%;
  display: block;
  height: auto;
  overflow: hidden;
  /*padding: 40px 20px 20px 20px;*/
  /*border: 1px solid #f00;*/
}
#showcase .two-column .one-half h2,
#showcase .two-column .one-half p {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
}
#showcase .two-column .one-half p {
  font-size: 1.4rem;
  line-height: 1.625;
}
#showcase .two-column .one-half h2 {
  padding-top: 40px;
}

@media (min-width: 600px) and (max-width: 959px) {

}

@media (min-width: 960px) {
  .background-MI {
    background:
      url(../images/icons/MI.svg) 35px 10px no-repeat,
      url(../images/icons/MI-white.svg) 30px 20px no-repeat;
    background-size: 80%, 80%;
  }
  .background-OT {
    /*padding-top: 150px;*/
    background:
      url(../images/icons/OT.svg) 60px 60px no-repeat,
      url(../images/icons/OT-white.svg) 65px 68px no-repeat;
    background-size: 50%, 50%;
  }
  .background-biomason {
    background: url(../images/showcase/biomason-bw.png) center center no-repeat;
    background-size: cover;
  }
  #showcase .two-column {
    padding: 0;
    display: flex;
  }
  #showcase .two-column .one-half {
    width: calc(50%);
    flex-flow: column;
    height: auto;
    overflow: hidden;
    padding: 100px 20px 60px 20px;
    /*padding-top: 100px;*/
    /*padding-bottom: 60px;*/
  }
  #showcase .two-column .one-half h2,
  #showcase .two-column .one-half p {
    /*padding-right: 0;*/
    /*font-size: 1.4rem;
    line-height: 1.625;*/
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

}
